body{
    background: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-lightweight-casual-shoes-promotion-main-map-image_147718.jpg');
    background-size: cover;
    background-position: center;
}